html, body {
    font-family: "Roboto", sans-serif;
}

body {
    padding-top: 72px; /* needed when using fixed Navbar */
}

.nav {
    text-decoration: none;
}

.nav--green {
    color: green !important;
}

.nav--active {
    font-weight: bold;
}

.form-container {
    margin: 30px;
}

.form-item-container {
    margin: 0 0 20px 0;
}

.label-container, .input-container, .button-container {
    margin: 10px;
}

.label-container label, .input-container input,
.input-container textarea, .button-container button {
    font-size: 1em;
}

.input-container input, .input-container textarea {
    width: 100%;
    padding: 5px;
}

.page-container {
    padding-top: 10px;
}

.page-container--xtra-margin-bottom {
    margin-bottom: 15px;
}

button {
    margin-right: 10px;
}

.invalid-value {
    color: #f00;
}

h1.page-title {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px #eee;
}

.footer-container {
    border-top: solid 2px #eee;
    padding: 15px 0 25px 0;
}

.footer {
    padding: 25px 10px;
    background-color: #f8f8f8;
}

.footer__centered {
    text-align: center;
}